{% extends 'base.html' %}
{% block content %}
<div class="row" style="margin-left:50px; max-width:600px">
    <h1 id="app-title">Administrators</h1>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Name</th>
            <th>Email Address</th>
            <th></th>
        </tr>
        {% for admin in admins %}
            <tr>
                <td>{{admin.first_name}} {{admin.last_name}}</td>
                <td>{{admin.email}}</td>
                <td><a href="{% url 'admin_profile' admin.username %}"><span class="glyphicon glyphicon-user"></span> View profile</a></td>
            </tr>
        {% endfor %}
    </table>
    <div class="pull-right" style="margin-bottom: 10px">
        <a class="btn btn-warning" role="button" href="{% url 'add_admin' %}">Add Administrator</a>
        <a class="btn btn-warning" role="button" href="{% url 'index' %}">Back to main page</a>
    </div>
</div>
{% endblock %}
