{% extends 'base.html' %}
{% block content %}
<div class="row" style="margin-left:50px; max-width:300px">
    <h1 id="app-title">Bunk</h1>
    <table class="table table-bordered table-striped">
        <tr>
            <td>Code</td>
            <td>{{bunk.code | title}}</td>
        </tr>
    </table>
    <div class="pull-right" style="margin-bottom: 10px">
        <a class="btn btn-warning btn-md" role="button" href="{% url 'edit_bunk' bunk.id %}">Edit Bunk</a>
        <a class="btn btn-warning btn-md" role="button" href="{% url 'delete_bunk' bunk.id %}">Delete</a>
        <a class="btn btn-warning btn-md" role="button" href="{{request.META.HTTP_REFERER}}">Back</a>
    </div>
</div>
{% endblock %}
