{% extends 'base.html' %}
{% block content %}
    <div class="row" style="margin-left:50px">
        <div class="col-xs-12">
            <h2 style="color: rgba(44, 62, 80,1.0)">
                {% if request.user.is_superuser %}Superuser{% endif%}
                {% if is_manager %}Dorm Manager{% endif%}
                {% if is_student %}Student{% endif %}
                {% if is_admin %}Administrator{% endif %} Dashboard
            </h2>
        </div>
    </div>
    <div class="row" style="margin-left:50px">
        {% if request.user.is_superuser %}
        <div class="col-xs-2">
            <a class="thumbnail app-btn" href="{% url 'list_admins' %}">
                <p class="glyphicon glyphicon-user app-glyp"></p>
                <p>View Administrators</p>
            </a>
        </div>
        {% endif %}
        {% if is_admin %}
        <div class="col-xs-2">
            <a class="thumbnail app-btn" href="{% url 'list_managers' %}">
                <p class="glyphicon glyphicon-user app-glyp"></p>
                <p>View Dorm Managers</p>
            </a>
        </div>
        <div class="col-xs-2">
            <a class="thumbnail app-btn" href="{% url 'list_bunks' %}">
                <p class="glyphicon glyphicon-bed app-glyp"></p>
                <p>View Bunks</p>
            </a>
        </div>
        {% endif %}
        {% if is_manager %}
        <div class="col-xs-2">
            <a class="thumbnail app-btn" href="{% url 'list_students' %}">
                <p class="glyphicon glyphicon-user app-glyp"></p>
                <p>View Students</p>
            </a>
        </div>
        <div class="col-xs-2">
            <a class="thumbnail app-btn" href="{% url 'logs' %}">
                <p class="glyphicon glyphicon-list app-glyp"></p>
                <p>View Logs</p>
            </a>
        </div>
        {% endif %}
        {% if is_student %}
        <div class="col-xs-2">
            <a class="thumbnail app-btn" href="{% url 'my_profile' request.user.username %}">
                <p class="glyphicon glyphicon-user app-glyp"></p>
                <p>View my profile</p>
            </a>
        </div>
        <div class="col-xs-2">
            <a class="thumbnail app-btn" href="{% url 'my_logs' request.user.username %}">
                <p class="glyphicon glyphicon-list app-glyp"></p>
                <p>View my logs</p>
            </a>
        </div>
        <div class="col-xs-2">
            <a class="thumbnail app-btn" href="{% url 'my_in' request.user.username  %}">
                <p class="glyphicon glyphicon-arrow-down app-glyp"></p>
                <p>Log in</p>
            </a>
        </div>
        <div class="col-xs-2">
            <a class="thumbnail app-btn" href="{% url 'my_out' request.user.username %}">
                <p class="app-glyp glyphicon glyphicon-arrow-up"></p>
                <p>Log out</p>
            </a>
        </div>
        {% endif %}
        <div class="col-xs-2">
            <a class="thumbnail app-btn" href="{% url 'logout'%}">
                <p class="glyphicon glyphicon-remove app-glyp"></p>
                <p>Exit</p>
            </a>
        </div>
        {% if is_student %}
        <div class="col-xs-12">
            <p style="font-size: 64px; color:rgba(52, 73, 94,1.0)" id="datetime"></p>
        </div>
        {% endif %}
    </div>
{% endblock %}
