{% extends 'base.html' %}
{% block content %}
<div class="row" style="margin-left:50px; max-width:600px">
    <h1 id="app-title">{{user.first_name}} {{user.last_name}}'s Logs</h1>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Type</th>
            <th>Destination</th>
        </tr>
        {% for log in logs %}
            <tr>
                <td>{{log.datetime|date:"DATE_FORMAT"}}</td>
                <td>{{log.datetime|time:"P"}}</td>
                <td>{{log.log_type}}</td>
                <td>{{log.destination}}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="pull-right" style="margin-bottom: 10px">
        <a class="btn btn-warning" role="button" href="{{request.META.HTTP_REFERER}}">Back</a>
    </div>
</div>
{% endblock %}
