<html>
    <head>
        <title>Dormitory App</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>List of students</h1>
            <table class="table table-bordered">
                <tr>
                    <th>Name</th>
                    <th>Email Address</th>
                    <th>Bunk assigment</th>
                    <th></th>
                </tr>
                {% for student in students %}
                    <tr>
                        <td>{{student.user.first_name}} {{student.user.last_name}}</td>
                        <td>{{student.user.email}}</td>
                        <td>{{student.bunk.code}}</td>
                        <td><a href="{% url 'student_profile' student.user.username %}">View profile</a></td>
                    </tr>
                {% endfor %}
            </table>
            <a class="btn btn-info" role="button" href="{% url 'add_student' %}">Add student</a>
            <a class="btn btn-info" role="button" href="{% url 'index' %}">Back to main page</a>
        </div>
    </body>
</html>
