<html>
    <head>
        <title>Dormitory App</title>
    </head>
    <body>
        <h1>List of students</h1>
        <table border=1 style="border-collapse: collapse">
            <tr>
                <th>Name</th>
                <th>Email Address</th>
                <th>Bunk assigment</th>
                <th></th>
            </tr>
            {% for student in students %}
                <tr>
                    <td>{{student.user.first_name}} {{student.user.last_name}}</td>
                    <td>{{student.user.email}}</td>
                    <td>{{student.bunk.code}}</td>
                    <td><a href="{% url 'profile' student.user.username %}">View profile</a></td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
