{% extends 'base.html' %}
{% block content %}
<div class="row" style="margin-left:50px; max-width:600px">
    <h1 id="app-title">List of students</h1>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Name</th>
            <th>Email Address</th>
            <th>Bunk assigment</th>
            <th></th>
        </tr>
        {% for student in students %}
            <tr>
                <td>{{student.user.first_name}} {{student.user.last_name}}</td>
                <td>{{student.user.email}}</td>
                <td>{{student.bunk.code}}</td>
                <td><a href="{% url 'student_profile' student.user.username %}">View profile</a></td>
            </tr>
        {% endfor %}
    </table>
    <div class="pull-right" style="margin-bottom: 10px">
        <a class="btn btn-warning" role="button" href="{% url 'add_student' %}">Add student</a>
        <a class="btn btn-warning" role="button" href="{% url 'index' %}">Back to main page</a>
    </div>
</div>
{% endblock %}
